 // Themes

$pale-lavender: #DECFEE;
$non-photo-blue: #9FDBE6;
$toolbox: #7678BC;
$bright-lilac: #CA8BF5;
$american-blue: #3E4160;

$baby-blue-eyes: #A5C3E9;
$diamond: #C0F3F2;
$bright-gray: #E5F3EE;
$lavender-blue: #C9D2F5;
$vodka: #B9BAFA;

$dark: rgba(36, 36, 36);

$goldDark: #e4ad2f;
$goldBright: #F7EF8A;
$crimsonDark: #cc0011;
$crimsonBright: #ff3939;